/*!
=========================================================
* CSS Grid Explained
=========================================================

* Licensed: (https://devcrud.com/licenses)
* Coded by: DevCRUD

=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/


.grid-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas: "box-1 box-3" "box-2 box-3";
    grid-gap: 20px;
    height: auto
}

.grid-2 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas: "box-1 box-2 box-2" 
                         "box-1 box-3 box-3";
    grid-gap: 10px;
    height: auto
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 300px);
    grid-template-areas: "box-1 box-1 box-2 box-3" "box-1 box-1 box-4 box-5" "box-6 box-7 box-7 box-5" "box-8 box-7 box-7 box-9" "box-8 box-10 box-11 box-11";
    grid-gap: 20px
}

.box-1 {
    grid-area: box-1
}

.box-2 {
    grid-area: box-2
}

.box-3 {
    grid-area: box-3
}

.box-4 {
    grid-area: box-4
}

.box-5 {
    grid-area: box-5
}

.box-6 {
    grid-area: box-6
}

.box-7 {
    grid-area: box-7
}

.box-8 {
    grid-area: box-8
}

.box-9 {
    grid-area: box-9
}

.box-10 {
    grid-area: box-10
}

.box-11 {
    grid-area: box-11
}

@media screen and (max-width:700px) {
    .grid-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas: "box-1" "box-2" "box-3"
    }
    .grid-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas: "box-1 box-1" "box-2 box-3" "box-4 box-5"
    }
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 300px);
        grid-template-areas: "box-1 box-1" "box-1 box-1";
        grid-gap: 20px
    }
}

/**, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

html {
    color: #fff;
    background-color: #010329;
    font-size: 1rem;
    box-sizing: border-box
}/*

/*body {
    font-family: Rubik, sans-serif
}*/

.main {
    max-width: 1240px;
    margin: 0 auto;
    padding: 50px 20px;
    
}

.bg-red {
    background-color: #ee4540
}

.bg-dark {
    background-color: #010329
}

.bg-green {
    background-color: #91bd3a
}

.main img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all .5s;
    transition: all .5s
}

.main img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.15) rotate(-3deg);
    -ms-transform: scale(1.15) rotate(-3deg);
    transform: scale(1.15) rotate(-3deg)
}

.livraison
{
    height:20px;
    width:  20px;
}

[class*=box-] {
    overflow: hidden
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  .headerStyle
  {
    font-family: Garamond, serif;
    
  }

  .articleStyle
  {
    font-family: Garamond, serif;
    font-size: 15px;
    opacity: 0.6;
    
  }